<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">

    <meta name="author" content="anonymous">
    <meta name="description" content="syngroup.org - template para aplicações nodejs no heroku">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:url" content="https://basecentral.org/">

   
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css//icofont.min.css">
    <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/lightcase.css">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">

    <title>syngroup.org | server listening</title>
</head>

<body>
    
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <section class="coming-soon-section padding-tb">
        <div class="container">
            <div class="coming-wrapper text-center">
                <div class="inner-logo mb-5">
                    <a target="_blank" href="https://syngroup.org"><img src="/assets/images/logo/logo.png" alt="Base Central"></a>
                </div>
                
                <h2 class="coming-soon-title mb-4">NodeJS + Heroku</h2>
                <p>Este é um template de aplicação desenvolvido por <a href="https://syngroup.org">syngroup.org</a></p>
                <p>Se você está vendo esta tela é porquê sua aplicação foi iniciada corretamente e todos os micro-serviços estão funcionando.</p>
            </div>
        </div>
    </section>

    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/lightcase.js"></script>
    <script src="/assets/js/swiper-bundle.min.js"></script>
    <script src="/assets/js/countdown.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/isotope.pkgd.min.js"></script>
    <script src="/assets/js/functions.js"></script>
</body>

</html>
